<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Página{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}"/>
</head>
<body>
    <header>
        <h1>Bem vindo fulano</h1>
        <nav>
            <a href="{{url_for('home')}}">Inicio</a>
            <a href="{{url_for('sobre')}}">Sobre</a>
        </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
        <p>@ raieira</p>
    </footer>
    
</body>
</html>