{% extends 'base.html' %} {% set css_file = 'estilo_home.css' %} {% block title %}Pagina Inicial{% endblock %} {% block content %}

<body>
    <h2>Bem-vindo a pagina brasil</h2>
    <p>A Página Brasil atua em todo o território nacional, produzindo produtos e artigos para papelarias e escritórios.Com vários anos de mercado, a Página Brasil já possui diversos produtos homologados para licitação e atende à diversos órgãos públicos através de seus representantes e parceiros.</p>
    <h1>testando com h1</h1>
</body>

{% endblock %}